@import "reset";
@import "~susy/sass/susy";

$gray: #DCE0E3;
$dark_blue: #74B4E2;
$med_blue: #82BCE5;
$light_blue: lighten(#AED6EE, 7%);
$green: darken(#D4EF9F, 40%);
$red: #DB4342;

body {
  background: $gray;
}

h1 {
  // TODO fix modular-scale
  font-size: modular-scale(5);
}

p {
  font-size: modular-scale(0);
  line-height: modular-scale(1);
  margin-bottom: modular-scale(1);
}

.container {
  // TODO @include outer-container;
}

.leftColumn {
  // TODO @include span-columns(8);
}

.mainColumn {
  // TODO @include span-columns(4);
}

.mainColumnContent {
  background: $light_blue;
  padding: 1em;
  margin: 1em 0em;
}

.photo img {
  width: 90%;
  height: auto;
  border: $light_blue 5px solid;
}

.linkArea {
  margin-bottom: modular-scale(0.25);
  li {
    display: inline-block;
    padding: 0px modular-scale(0);
  }
  a {
    font-size: modular-scale(1);
    text-decoration: none;
    color: $green;
  }
  a:hover {
    color: $red;
    transition: all 0.3s ease;
  }
}
